<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>modelMap</key>
		<string>TangramKitElementTypeMap</string>
	</dict>
	<dict>
		<key>layoutMap</key>
		<string>TangramKitLayoutTypeMap</string>
		<key>modelMap</key>
		<string>TangramKitModelTypeMap</string>
		<key>elementMap</key>
		<string>TangramKitElementPropertyMap</string>
	</dict>
	<dict>
		<key>layoutMap</key>
		<string>ShengHuoJiaTangramLayoutMap</string>
		<key>modelMap</key>
		<string>ShengHuoJiaTangramModelMap</string>
		<key>elementMap</key>
		<string>ShengHuoJiaTangramElementMap</string>
	</dict>
	<dict>
		<key>modelMap</key>
		<string>HuanxinTangramModelMap</string>
		<key>elementMap</key>
		<string>HuanxinTangramElementMap</string>
	</dict>
	<dict>
		<key>modelMap</key>
		<string>RecommendTangramModelMap</string>
		<key>elementMap</key>
		<string>RecommendTangramElementMap</string>
	</dict>
	<dict>
		<key>modelMap</key>
		<string>MyTmallTangramModelMap</string>
		<key>elementMap</key>
		<string>MyTmallTangramElementMap</string>
	</dict>
	<dict>
		<key>modelMap</key>
		<string>TMMarketTangramModelMap</string>
		<key>elementMap</key>
		<string>TMMarketTangramElementMap</string>
	</dict>
	<dict>
		<key>modelMap</key>
		<string>FrontPageTangramElementModelMap</string>
		<key>layoutMap</key>
		<string>FrontPageTangramLayoutMap</string>
		<key>elementMap</key>
		<string>FrontPageTangramElementMap</string>
	</dict>
	<dict>
		<key>modelMap</key>
		<string>WuseTangramModelMap</string>
		<key>elementMap</key>
		<string>WuseTangramElementMap</string>
	</dict>
	<dict>
		<key>modelMap</key>
		<string>FunTangramElementMap</string>
	</dict>
	<dict>
		<key>modelMap</key>
		<string>RetailShopElementMap</string>
	</dict>
</array>
</plist>
