<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>class</key>
		<string>TangramSingleColumnLayout</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>class</key>
		<string>TangramDoubleColumnLayout</string>
		<key>type</key>
		<string>2</string>
	</dict>
	<dict>
		<key>class</key>
		<string>TangramTribleColumnLayout</string>
		<key>type</key>
		<string>3</string>
	</dict>
	<dict>
		<key>class</key>
		<string>TangramTetradColumnLayout</string>
		<key>type</key>
		<string>4</string>
	</dict>
	<dict>
		<key>class</key>
		<string>TangramSingleAndDoubleLayout</string>
		<key>type</key>
		<string>5</string>
	</dict>
	<dict>
		<key>class</key>
		<string>TangramDragableLayout</string>
		<key>type</key>
		<string>7</string>
	</dict>
	<dict>
		<key>class</key>
		<string>TangramFixBottomLayout</string>
		<key>type</key>
		<string>8</string>
	</dict>
	<dict>
		<key>class</key>
		<string>TangramQuintetColumnLayout</string>
		<key>type</key>
		<string>9</string>
	</dict>
	<dict>
		<key>class</key>
		<string>TangramPageScrollLayout</string>
		<key>type</key>
		<string>10</string>
	</dict>
	<dict>
		<key>class</key>
		<string>TangramStickyLayout</string>
		<key>type</key>
		<string>20</string>
	</dict>
	<dict>
		<key>class</key>
		<string>TangramStickyLayout</string>
		<key>type</key>
		<string>21</string>
	</dict>
	<dict>
		<key>class</key>
		<string>TangramScrollWaterFlowLayout</string>
		<key>type</key>
		<string>25</string>
	</dict>
	<dict>
		<key>class</key>
		<string>TangramScrollFlowLayout</string>
		<key>type</key>
		<string>27</string>
	</dict>
	<dict>
		<key>class</key>
		<string>TangramFixLayout</string>
		<key>type</key>
		<string>28</string>
	</dict>
	<dict>
		<key>class</key>
		<string>TangramFixTopLayout</string>
		<key>type</key>
		<string>23</string>
	</dict>
	<dict>
		<key>class</key>
		<string>TangramPageScrollLayout</string>
		<key>type</key>
		<string>29</string>
	</dict>
	<dict>
		<key>class</key>
		<string>TangramFixLayout</string>
		<key>type</key>
		<string>30</string>
	</dict>
	<dict>
		<key>class</key>
		<string>TangramFixLayout</string>
		<key>type</key>
		<string>container-fix</string>
	</dict>
	<dict>
		<key>class</key>
		<string>TangramScrollFlowLayout</string>
		<key>type</key>
		<string>container-flow</string>
	</dict>
	<dict>
		<key>class</key>
		<string>TangramScrollWaterFlowLayout</string>
		<key>type</key>
		<string>container-waterfall</string>
	</dict>
	<dict>
		<key>class</key>
		<string>TangramPageScrollLayout</string>
		<key>type</key>
		<string>container-scroll</string>
	</dict>
	<dict>
		<key>class</key>
		<string>TangramFixLayout</string>
		<key>type</key>
		<string>container-scrollFix</string>
	</dict>
	<dict>
		<key>class</key>
		<string>TangramStickyLayout</string>
		<key>type</key>
		<string>container-sticky</string>
	</dict>
	<dict>
		<key>class</key>
		<string>TangramDragableLayout</string>
		<key>type</key>
		<string>container-float</string>
	</dict>
	<dict>
		<key>class</key>
		<string>TangramSingleAndDoubleLayout</string>
		<key>type</key>
		<string>container-onePlusN</string>
	</dict>
	<dict>
		<key>class</key>
		<string>TangramSingleColumnLayout</string>
		<key>type</key>
		<string>container-oneColumn</string>
	</dict>
	<dict>
		<key>class</key>
		<string>TangramDoubleColumnLayout</string>
		<key>type</key>
		<string>container-twoColumn</string>
	</dict>
	<dict>
		<key>class</key>
		<string>TangramTribleColumnLayout</string>
		<key>type</key>
		<string>container-threeColumn</string>
	</dict>
	<dict>
		<key>class</key>
		<string>TangramTetradColumnLayout</string>
		<key>type</key>
		<string>container-fourColumn</string>
	</dict>
	<dict>
		<key>class</key>
		<string>TangramQuintetColumnLayout</string>
		<key>type</key>
		<string>container-fiveColumn</string>
	</dict>
	<dict>
		<key>class</key>
		<string>TangramFixLayout</string>
		<key>type</key>
		<string>container-scrollFixBanner</string>
	</dict>
</array>
</plist>
