<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>icon</string>
		<key>fileName</key>
		<string>icon</string>
		<key>element</key>
		<string>TMVirtualViewElement</string>
		<key>height</key>
		<string>81</string>
	</dict>
	<dict>
		<key>element</key>
		<string>TMVVBaseElement</string>
		<key>type</key>
		<string>behavior-recommend-commodity-prefix</string>
		<key>fileName</key>
		<string>behavior_recommend_commodity_prefix</string>
		<key>height</key>
		<string>125</string>
	</dict>
	<dict>
		<key>element</key>
		<string>TMVVBaseElement</string>
		<key>type</key>
		<string>behavior-recommend-shop-header</string>
		<key>fileName</key>
		<string>behavior_recommend_shop_header</string>
		<key>height</key>
		<string>35</string>
	</dict>
	<dict>
		<key>ratio</key>
		<string>0.57</string>
		<key>element</key>
		<string>TMVVBaseElement</string>
		<key>type</key>
		<string>behavior-recommend-shop-item</string>
		<key>fileName</key>
		<string>behavior_recommend_shop_item</string>
	</dict>
	<dict>
		<key>element</key>
		<string>TMVVBaseElement</string>
		<key>type</key>
		<string>behavior-recommend-two-commodity-item</string>
		<key>fileName</key>
		<string>behavior_recommend_two_commodity_item</string>
		<key>height</key>
		<string>121</string>
	</dict>
	<dict>
		<key>element</key>
		<string>TMVVBaseElement</string>
		<key>type</key>
		<string>behavior-recommend-multi-commodity-item</string>
		<key>fileName</key>
		<string>behavior_recommend_multi_commodity_item</string>
		<key>height</key>
		<string>121</string>
	</dict>
	<dict>
		<key>ratio</key>
		<string>0.52</string>
		<key>element</key>
		<string>TMVVBaseElement</string>
		<key>type</key>
		<string>recommend-keywords-item</string>
		<key>fileName</key>
		<string>recommend_keywords_item</string>
		<key>height</key>
		<string>320</string>
	</dict>
	<dict>
		<key>ratio</key>
		<string>0.52</string>
		<key>element</key>
		<string>TMVVBaseElement</string>
		<key>type</key>
		<string>recommend-toplist-item</string>
		<key>fileName</key>
		<string>recommend_toplist_item</string>
		<key>height</key>
		<string>320</string>
	</dict>
	<dict>
		<key>element</key>
		<string>TMVVBaseElement</string>
		<key>type</key>
		<string>activity-one_three-item</string>
		<key>fileName</key>
		<string>activity_one_three_item</string>
		<key>height</key>
		<string>300</string>
	</dict>
	<dict>
		<key>element</key>
		<string>TMVVBaseElement</string>
		<key>type</key>
		<string>activity-one_three-single-item</string>
		<key>fileName</key>
		<string>activity_one_three_single_item</string>
		<key>height</key>
		<string>180</string>
	</dict>
	<dict>
		<key>element</key>
		<string>TMVVBaseElement</string>
		<key>type</key>
		<string>commodity-new-dynamic-item-countdown</string>
		<key>fileName</key>
		<string>commodity_new_dynamic_item_countdown</string>
	</dict>
	<dict>
		<key>element</key>
		<string>TMVVBaseElement</string>
		<key>type</key>
		<string>commodity-new-dynamic-item-tips</string>
		<key>fileName</key>
		<string>commodity_new_dynamic_item_tips</string>
	</dict>
	<dict>
		<key>element</key>
		<string>TMVVBaseElement</string>
		<key>type</key>
		<string>commodity-new-dynamic</string>
		<key>fileName</key>
		<string>commodity_new_dynamic</string>
		<key>ratio</key>
		<string>0.5236</string>
	</dict>
	<dict>
		<key>element</key>
		<string>TMVVBaseElement</string>
		<key>type</key>
		<string>recommend-top-list</string>
		<key>fileName</key>
		<string>recommend_top_list</string>
		<key>ratio</key>
		<string>0.5236</string>
	</dict>
	<dict>
		<key>element</key>
		<string>TMVVBaseElement</string>
		<key>type</key>
		<string>recommend-top-list-item</string>
		<key>fileName</key>
		<string>recommend_top_list_item</string>
	</dict>
	<dict>
		<key>element</key>
		<string>TMVVBaseElement</string>
		<key>type</key>
		<string>hot-channel-import-optimization</string>
		<key>fileName</key>
		<string>hot_channel_import_optimization</string>
		<key>height</key>
		<string>320</string>
	</dict>
	<dict>
		<key>element</key>
		<string>TMVVBaseElement</string>
		<key>type</key>
		<string>hot-channel-tmall-fresh-and-charm-benefits</string>
		<key>fileName</key>
		<string>hot_channel_tmall_fresh_and_charm_benefits</string>
		<key>height</key>
		<string>320</string>
	</dict>
	<dict>
		<key>type</key>
		<string>tab-header</string>
		<key>fileName</key>
		<string>tab_header</string>
	</dict>
	<dict>
		<key>element</key>
		<string>TMVVBaseElement</string>
		<key>type</key>
		<string>hot-channel-header</string>
		<key>fileName</key>
		<string>hot_channel_header</string>
		<key>ratio</key>
		<string>13.27</string>
	</dict>
	<dict>
		<key>element</key>
		<string>TMVVBaseElement</string>
		<key>type</key>
		<string>brand-activity-blackbox</string>
		<key>fileName</key>
		<string>brand_activity_blackbox</string>
		<key>height</key>
		<string>100</string>
	</dict>
	<dict>
		<key>element</key>
		<string>TMVVBaseElement</string>
		<key>type</key>
		<string>brand-activity-toppick</string>
		<key>fileName</key>
		<string>brand_activity_toppick</string>
		<key>height</key>
		<string>100</string>
	</dict>
	<dict>
		<key>element</key>
		<string>TMVVBaseElement</string>
		<key>type</key>
		<string>northway-channel</string>
		<key>fileName</key>
		<string>northway_channel</string>
		<key>height</key>
		<string>160</string>
	</dict>
	<dict>
		<key>element</key>
		<string>TMVVBaseElement</string>
		<key>type</key>
		<string>image-and-title</string>
		<key>fileName</key>
		<string>image_and_title</string>
		<key>ratio</key>
		<string>0.694</string>
	</dict>
	<dict>
		<key>element</key>
		<string>TMFrontPageElementCarouselItem</string>
		<key>type</key>
		<string>conference-entrance</string>
		<key>fileName</key>
		<string>conference_entrance</string>
		<key>ratio</key>
		<string>0.657</string>
	</dict>
	<dict>
		<key>element</key>
		<string>TMVVSelectedRecommend</string>
		<key>type</key>
		<string>new-recommend-item</string>
		<key>fileName</key>
		<string>new_recommend_item</string>
	</dict>
	<dict>
		<key>element</key>
		<string>TMVVBaseElement</string>
		<key>type</key>
		<string>recommend-930-top-list</string>
		<key>fileName</key>
		<string>recommend_930_top_list</string>
		<key>ratio</key>
		<string>0.631</string>
	</dict>
	<dict>
		<key>element</key>
		<string>TMVVBaseElement</string>
		<key>type</key>
		<string>recommend-930-top-list-item</string>
		<key>fileName</key>
		<string>recommend_930_top_list_item</string>
	</dict>
	<dict>
		<key>element</key>
		<string>TMVVBaseElement</string>
		<key>type</key>
		<string>commodity-930-new-dynamic</string>
		<key>fileName</key>
		<string>commodity_930_new_dynamic</string>
		<key>ratio</key>
		<string>0.53</string>
	</dict>
	<dict>
		<key>element</key>
		<string>TMVVBaseElement</string>
		<key>type</key>
		<string>behavior-930-recommend-shop-jhs</string>
		<key>fileName</key>
		<string>behavior_930_recommend_shop_jhs</string>
		<key>ratio</key>
		<string>0.597</string>
	</dict>
	<dict>
		<key>element</key>
		<string>TMVVBaseElement</string>
		<key>type</key>
		<string>behavior-930-recommend-shop-new-tips</string>
		<key>fileName</key>
		<string>behavior_930_recommend_shop_new_tips</string>
		<key>ratio</key>
		<string>0.597</string>
	</dict>
	<dict>
		<key>element</key>
		<string>TMVVBaseElement</string>
		<key>type</key>
		<string>behavior-930-recommend-shop-11-11</string>
		<key>fileName</key>
		<string>behavior_930_recommend_shop_11_11</string>
		<key>ratio</key>
		<string>0.577</string>
	</dict>
	<dict>
		<key>element</key>
		<string>TMVVBaseElement</string>
		<key>type</key>
		<string>recommend-930-hall-11-11</string>
		<key>fileName</key>
		<string>recommend_930_hall_11_11</string>
		<key>ratio</key>
		<string>0.589</string>
	</dict>
	<dict>
		<key>element</key>
		<string>TMVVBaseElement</string>
		<key>type</key>
		<string>recommend-930-spike-hall-11-11</string>
		<key>fileName</key>
		<string>recommend_930_spike_hall_11_11</string>
		<key>ratio</key>
		<string>0.549</string>
	</dict>
	<dict>
		<key>element</key>
		<string>TMVVBaseElement</string>
		<key>type</key>
		<string>channel-930-card-item</string>
		<key>fileName</key>
		<string>channel_930_card_item</string>
		<key>ratio</key>
		<string>0.574</string>
	</dict>
	<dict>
		<key>element</key>
		<string>TMVVBaseElement</string>
		<key>type</key>
		<string>tmall-1012-selected-goods-presell</string>
		<key>fileName</key>
		<string>tmall_1012_selected_goods_presell</string>
		<key>ratio</key>
		<string>1.732</string>
	</dict>
	<dict>
		<key>element</key>
		<string>TMVVBaseElement</string>
		<key>type</key>
		<string>tmall-1012-supermarket-image</string>
		<key>fileName</key>
		<string>tmall_1012_supermarket_image</string>
		<key>ratio</key>
		<string>0.667</string>
	</dict>
	<dict>
		<key>element</key>
		<string>TMVVBaseElement</string>
		<key>type</key>
		<string>tmall-1012-import-selected</string>
		<key>fileName</key>
		<string>tmall_1012_import_selected</string>
		<key>ratio</key>
		<string>1.83</string>
	</dict>
	<dict>
		<key>element</key>
		<string>TMVVBaseElement</string>
		<key>type</key>
		<string>tmall_1012-health-and-charm</string>
		<key>fileName</key>
		<string>tmall_1012_health_and_charm</string>
		<key>ratio</key>
		<string>0.915</string>
	</dict>
	<dict>
		<key>element</key>
		<string>TMVVBaseElement</string>
		<key>type</key>
		<string>tmall_1012-direct-sell-item-1</string>
		<key>fileName</key>
		<string>tmall_1012_direct_sell_item_1</string>
		<key>ratio</key>
		<string>1.2</string>
	</dict>
	<dict>
		<key>element</key>
		<string>TMVVBaseElement</string>
		<key>type</key>
		<string>tmall_1012-direct-sell-item-2</string>
		<key>fileName</key>
		<string>tmall_1012_direct_sell_item_2</string>
		<key>ratio</key>
		<string>0.82</string>
	</dict>
	<dict>
		<key>element</key>
		<string>TMVVBaseElement</string>
		<key>type</key>
		<string>tmall-1012-brand-top-choice</string>
		<key>fileName</key>
		<string>tmall_1012_brand_top_choice</string>
		<key>ratio</key>
		<string>1.83</string>
	</dict>
	<dict>
		<key>element</key>
		<string>TMVVBaseElement</string>
		<key>type</key>
		<string>tmall-1012-brand-activity-item-1</string>
		<key>fileName</key>
		<string>tmall_1012_brand_activity_item_1</string>
		<key>ratio</key>
		<string>1.2</string>
	</dict>
	<dict>
		<key>element</key>
		<string>TMVVBaseElement</string>
		<key>type</key>
		<string>tmall-1012-brand-activity-item-2</string>
		<key>fileName</key>
		<string>tmall_1012_brand_activity_item_2</string>
		<key>ratio</key>
		<string>0.82</string>
	</dict>
	<dict>
		<key>element</key>
		<string>TMVVBaseElement</string>
		<key>type</key>
		<string>tmall-1012-brand-activity-item-3</string>
		<key>fileName</key>
		<string>tmall_1012_brand_activity_item_3</string>
		<key>ratio</key>
		<string>0.82</string>
	</dict>
	<dict>
		<key>element</key>
		<string>TMVVSelectedRecommend</string>
		<key>type</key>
		<string>tmall-1012-guess-like-item-crazyprice</string>
		<key>fileName</key>
		<string>tmall_1012_guess_like_item_crazyprice</string>
		<key>ratio</key>
		<string>0.553</string>
	</dict>
	<dict>
		<key>element</key>
		<string>TMVVSelectedRecommend</string>
		<key>type</key>
		<string>tmall-1012-guess-like-item-presell</string>
		<key>fileName</key>
		<string>tmall_1012_guess_like_item_presell</string>
		<key>ratio</key>
		<string>0.597</string>
	</dict>
	<dict>
		<key>element</key>
		<string>TMVVBaseElement</string>
		<key>type</key>
		<string>tmall-1012-brand-activity-11_11-item</string>
		<key>fileName</key>
		<string>tmall_1012_brand_activity_11_11_item</string>
		<key>ratio</key>
		<string>0.704</string>
	</dict>
	<dict>
		<key>element</key>
		<string>TMVVBaseElement</string>
		<key>type</key>
		<string>tmall-1012-brand-activity-11_11-toplist-item</string>
		<key>fileName</key>
		<string>tmall_1012_brand_activity_11_11_toplist_item</string>
		<key>ratio</key>
		<string>0.704</string>
	</dict>
	<dict>
		<key>element</key>
		<string>TMVVBaseElement</string>
		<key>type</key>
		<string>tmall-1012-brand-activity-11_11-video-item</string>
		<key>fileName</key>
		<string>tmall_1012_brand_activity_11_11_video_item</string>
		<key>ratio</key>
		<string>1.416</string>
	</dict>
	<dict>
		<key>element</key>
		<string>TMVVBaseElement</string>
		<key>type</key>
		<string>tmall-1012-crowd-meeting-place-item-1</string>
		<key>fileName</key>
		<string>tmall_1012_crowd_meeting_place_item_1</string>
		<key>ratio</key>
		<string>0.704</string>
	</dict>
	<dict>
		<key>element</key>
		<string>TMVVBaseElement</string>
		<key>type</key>
		<string>tmall-1012-crowd-meeting-place-item-2</string>
		<key>fileName</key>
		<string>tmall_1012_crowd_meeting_place_item_2</string>
		<key>ratio</key>
		<string>0.704</string>
	</dict>
	<dict>
		<key>element</key>
		<string>TMVVBaseElement</string>
		<key>type</key>
		<string>tmall-1012-guess-like-item-for-cart</string>
		<key>fileName</key>
		<string>tmall_1012_guess_like_item_for_cart</string>
		<key>ratio</key>
		<string>0.6227</string>
	</dict>
</array>
</plist>
