<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>element</key>
		<string>TMVVBaseElement</string>
		<key>type</key>
		<string>TmallComponent2</string>
		<key>fileName</key>
		<string>TmallComponent2</string>
		<key>ratio</key>
		<string>1.2</string>
	</dict>
</array>
</plist>
